@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    text-align: center;
    padding: 10px;
    background-color: #272A3D;
}

h1 {
    text-align: center;

    font-size: 2.8em;
    font-weight: bolder;
}

#burguer {
    background-color: #272A3D;
    display: none;
    color: white;
    text-align: right;
    padding: 10px;
    cursor: pointer;
}

#itens {
    background-color: #272A3D;
    text-align: right;
    padding: 10px;
    display: none;
}

#itens a {
    text-decoration: none;
    color: #c08cdb;
}

.menu a{
    color: #c08cdb;
    text-decoration: none;
    margin-left: 5px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: normal;
    transition-duration: .5s;
}

.menu a:hover {
    color: white;
}

#apresentacao img {
    height: 28em;
    border-radius: 5%;
    transition-duration: .5s;
}

.animacaoImagemPerfil {
    -moz-transform: scale(.9,.9);
	-webkit-transform: scale(.9,.9);
	transform: scale(.9,.9);
    transition-duration: .5s;
}

#apresentacao{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    color: white;
    padding: 30px;
}

.sobre-mim {
    min-width: 300px;
    padding: 20px;
}

.sobre-mim h1 {
    display: inline-block;
    font-size: 3em;
    padding-bottom: 20px;
}

.sobre-mim p {
    display: inline-block;
    padding-bottom: 15px;
    font-size: 1.1em;
}

.sobre-mim a {
    text-decoration: none;
    background-color: #35914d;
    color: white;
    padding: 7px 10px 7px 10px;
    border-radius: 5px;
    font-size: 1.1em;
    transition-duration: .5s;
}

.sobre-mim a:hover {
    background-color: #278B42;
    transition-duration: .5s;
}

.col-1 {
    background-color: #211E29;
}

.col-2 {
    background-color: #2E2A3D;
    display: flex;
    align-items: center;
    color: white;
}

.col-2 p {
    text-align: center;
    padding-bottom: 15px;
    font-size: 1em;
}

.col-3 {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.col-3 h1 {
    padding-bottom: 20px;
}

#experiencias {
    background-color: #211E29;
    color: white;
}

#experiencias .col-4 {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#experiencias .col-5 {
    background-color: #272A3D;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}

.tituloExperiencia {
    margin-left: 10px;
    font-weight: normal;
}

.explicaoExperiencia {
    display: block;
    padding: 10px;
    text-align: justify;
}

button {
    display: block;
    padding: 15px;
    margin: 15px;
    width: 450px;
    text-align: left;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #272A3D;
    transition-duration: .5s;
    color: white;
}

.botoes-experiencias button:hover {
    background-color: #202233;
}

.logos-linguagens {
    display: flex;
    align-items: center;
}

.container-logos {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

footer {
    background-color: #E2127A;
}

footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.footer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.contacts-area {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0;
}

.footer-div h2 {
    line-height: 1.1;
    text-align: center;
    color: white;
}

.little-title {
    font-size: 15pt;
}

.contacts-buttons-area {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px 0 0;
}

.contact-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
    counter-reset: #fff;
    cursor: pointer;
    background-color: #1D2033;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.contact-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 100%;
    width: 40px;
}

.contact-box img {
    height: 25px;
    width: 25px;
}

.dev-icon-media {
    height: 45px;
    cursor: pointer;
}

.contact-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-size: 12pt;
    font-weight: 400;
    color: white;
}

.rede-social h2 {
    line-height: 1.1;
    text-align: center;
    color: white;
    font-weight: 600;
}

a{
    text-decoration: none;
    text-align: center;
    color: white;
}

.rede-social img{
    height: 60px;
    width: 50px;
}

.rede-social {
    display: table;
    flex-direction: column;
}

.conteiner-icons {
    display: flex;
    align-items: center;
}

.icones {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.github h2{
    line-height: 1.1;
    text-align: center;
    color: white;
    font-weight: 600;
}

.github img {
    display: flex;
    height: 60px;
    width: 50px;
    margin: 0 auto;
}

.github .conteiner-link {
    display: table;
    flex-direction: column;
    margin: 0 auto;
}

.conteiner-link .link-github {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 940px) {
    #apresentacao {
        display: flex;
        flex-direction: column;
    }

    #apresentacao img {
        border-radius: 50%;
    }
    
    .sobre-mim h1{
        text-align: center;
    }
}

@media only screen and (max-width: 1000px) {
    .col-3 {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 710px) {
    nav {
        display: none;
    }
    #burguer {
        display: block;
    }
}

@media only screen and (min-width: 711px) {
    nav {
        display: block;
    }
    #burguer {
        display: none;
    }
    #itens li {
        display: none;
    }
}

@media only screen and (max-width: 1400px) {
    #experiencias .col-4 {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 910px) {
    #experiencias .col-4 {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    button {
        display: block;
        padding: 15px;
        margin: 15px;
        width: 330px;
        text-align: left;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        background-color: #272A3D;
        transition-duration: .5s;
        color: white;
    }
}

@media only screen and (max-width: 770px) {
    footer .container {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .contacts-buttons-area {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: 10px;
        padding: 0 25px 0 25px;
    }

    .contacts-buttons-area {
        display: flex;
        width: 50%;
        height: 100%;
        flex-direction: column;
        gap: 10px;
        padding: 0;
    }

    .rede-social img{
        display: flex;
        align-items: center;
        margin: 0 auto;
        height: 60px;
        width: 50px;
    }
}

@media only screen and (max-width: 718px) {
    .contacts-buttons-area {
        display: flex;
        width: 90%;
        height: 100%;
        flex-direction: column;
        gap: 10px;
        padding: 0;
    }
}
